*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  text-align: center;
  align-content: center;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*HEAD+NAVI*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-right: 76px;
}
.accent {
  color: #2e2f42;
}

.accentt {
  color: #f4f4fd;
}

.head-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: 15px;
}

.navitem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navi-first {
  color: #2e2f42;
  padding: 24px 0;
}

.navi-first:hover,
.navi-first:focus {
  color: #404bbf;
}

.head-links .studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-first::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*ADDRESS*/

.address-links {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.all-contacts {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex-direction: row;
}

.info {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info:hover,
.info:focus {
  color: #404bbf;
}

/*SECTION 1*/

.section-one {
  max-width: 1440px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  align-items: center;
  margin: 0 auto;
  height: 600;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
}
.main-head {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 48px auto;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
button {
  background: #4d5ae5;
}

/*SECTION 2*/

.section-two {
  padding: 120px 0;
}

.section-two > p {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-sctn-two {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.list-scnd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
}

.list-scnd-title {
  width: calc((100% - 72px) / 4);
}

.benefit-icon {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  padding: 24px 100px;
}

.para-scnd {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/*SECTION 3*/

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.social-links {
  display: flex;
}

.main-thrd {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.name-team {
  padding: 32px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list .our-team-list {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  line-height: 1.11;
  text-transform: capitalize;
}

.names-thrd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.para-thrd {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.social-links {
  gap: 24px;
  justify-content: center;
}

/*SECTION 4*/

.main-frth {
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.categories {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list:hover .list-frth:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.list-frth {
  width: calc((100% - 48px) / 3);
}

.img-frth {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.para-frth {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*FOOTER*/

.end-chapter {
  background-color: #2e2f42;
  padding: 100px 0;
  text-align: left;
}

.accentt {
  color: #f4f4fd;
}

.para-end {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  width: 264px;
}

.social-media .footer-all-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}
